<%= form_with(model: doctor_log, local: true) do |form| %>
  <% if doctor_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor_log.errors.count, "error") %> prohibited this doctor_log from being saved:</h2>

      <ul>
      <% doctor_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name %>
  </div>

  <div class="form-group"><select class="combobox form-control" name="inline">
    <option selected="selected" value="">Especialidad...</option>
    <option value="E_AP">ANATOMIA PATOLOGICA</option>
    <option value="E_AAR">ANESTESIA ANALGESIA Y REANIMACION	</option>
    <option value="E_CGR">CIRUGIA GENERAL	REANIMACION	</option>
    <option value="E_GO">GINECOLOGIA Y OBSTETRICIA</option>
    <option value="E_MF">MEDICINA FAMILIAR</option>
    <option value="E_MI">MEDICINA INTERNA</option>
    <option value="E_MPI">MEDICINA POR IMÁGENES</option>
    <option value="E_N">NEUROCIRUGIA</option>
    <option value="E_OYT">ORTOPEDIA Y TRAUMATOLOGIA </option>
    <option value="E_PED">PEDIATRIA</option>

  </select></div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
