<!DOCTYPE html>
<html>
<head>
 <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Sistema de Gestión de Turnos</title>
</head>
<body>
 <table>
   <thead>
     <tr>
       <th>Nombre</th>
       <th>Apellido</th>
       <th>Fecha nac</th>
       <th>Sexo</th>
       <th>Especialidad</th>
       <th colspan="3"></th>
     </tr>
   </thead>

   <tbody>
     <% @patient_logs.each do |patient_log| %>
       <tr>
         <td><%= patient_log.Nombre %></td>
         <td><%= patient_log.Apellido %></td>
         <td><%= patient_log.Fecha_Nac %></td>
         <td><%= patient_log.Sexo %></td>
         <td><%= patient_log.Especialidad %></td>
       </tr>
     <% end %>
   </tbody>
 </table>
</body>
</html>
