<p id="notice"><%= notice %></p>

<h1>Cita</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Apellido</th>
      <th>Edad</th>
      <th>Diagnostico</th>
      <th>Notas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cita.each do |citum| %>
      <tr>
        <td><%= citum.Name %></td>
        <td><%= citum.Apellido %></td>
        <td><%= citum.Edad %></td>
        <td><%= citum.Diagnostico %></td>
        <td><%= citum.Notas %></td>
        <td><%= link_to 'Show', citum %></td>
        <td><%= link_to 'Edit', edit_citum_path(citum) %></td>
        <td><%= link_to 'Destroy', citum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Citum', new_citum_path %>
